@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
html{
    font-family: "Oxygen";
    background: #2eb29c;
}

table{
    background-color: #fff;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}